* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background-color: rgb(255, 255, 255);
  max-width: 1080px;
  border-radius: 20px;
  margin: 50px auto;
}

.shoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

}

.favorits_container__title {
  position: fixed;
}